<div class="container mt-4">
  <div class="d-flex gap-5 align-items-center">
    <h1>coding factory</h1>
    <h2>introduction to Angular</h2>

  </div>
  <div class="bg-success p-2 text-light">
    <h3>welcome to Angular</h3>

  </div>

</div>

<div class="container mt-4">
  <p>hello <strong>{{name}}</strong></p>

  <table class="table table-bordered w-50">
    <tr>
      <td class="fw-semibold text-end">first name</td>
      <td class="ps-2">{{person.givenName}}</td>
    </tr>  
    <tr>
      <td class="fw-semibold text-end">last name</td>
      <td class="ps-2">{{person.surname}}</td>
    </tr>  
    <tr>
      <td class="fw-semibold text-end">age</td>
      <td class="ps-2">{{person.age}}</td>
    </tr>  
    <tr>
      <td class="fw-semibold text-end">first name</td>
      <td class="ps-2">{{person.email}}</td>
    </tr>  
  </table>
</div>



<div class="d-flex gap-5 text-nowrap">
  <app-person-table></app-person-table>

</div>